*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
#big_wrapper{
  display: flex;
  

}
#wrap-1{  
 
 background-color:snow;
 position:relative;
 text-align: center;
flex:30%;
  }
  .bottom-left{
    position:absolute;
   bottom: 10px;
  left: 50px;
  }
  .container{
    width:50%;
    background-color: #ddd;
    
  }
  .skills{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color:white
  }
  .html{
    width:80%;background-color: #04AA6D;
  }
  .css{
    width:70%;background-color: #2196F3; 
  }
  .js{
    width:60%;background-color: #f44336;
  }
  .php{
    width:65%;background-color:#c8e2f8;
  }
  .sql{
    width:70%;background-color: #2196F3; 
  }
  .english{
    width:67%;background-color:yellow; 
  } 

 

#wrap-2{
  background-color:#ddd;
  display: flex;
 margin-left: 4px;
 flex:70%;
}
#dev{
  margin-top: 30px;
  margin-left: 30px;
}
#fe{
  display: flex;
}
#tool{
  padding:10px;
}