*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
#big_wrapper{
  display: flex;
  

}
#wrap-1{  
 
 background-color:snow;
 position:relative;
 text-align: center;

  }
  .bottom-left{
    position:absolute;
   bottom: 10px;
  left: 60px;
  }
  .container{
    width:90%;
    background-color: #ddd;
    border-radius: 10px;
  }
  .skills{
    text-align: right;
    border-radius: 10px;
    color:white
  }
  .html{
    width:90%;background-color: #04AA6D;
  }
  .css{
    width:80%;background-color: #04AA6D; 
  }
  .js{
    width:70%;background-color: #04AA6D;
  }
  .php{
    width:75%;background-color:#04AA6D;
  }
  .sql{
    width:80%;background-color: #04AA6D; 
  }
  .english{
    width:70%;background-color:#04AA6D; 
  } 

 

#wrap-2{
  background-color:#ddd;
  display: flex;
 margin-left: 4px;
 flex:70%;
}
#dev{
 padding: 5px;
}
#fe{
  display: flex;
}
#tool{
  padding:5px;
}
footer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#foot{
  background-color:teal;
  height:60px;
  
}
footer a{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}